#settings{
    background-color: #669BBC;
    padding: 150px 0 100px 0;
    position: relative;
    
    .chevron::after {
        content: '';
        display: block;
        height: 100px !important;
        width: 100px !important;
        background-color: #669BBC;
        position: absolute;
        bottom: -50px;
        left: 50%;
        margin-left: -50px;
        transform: rotate(45deg);
        z-index: 1 !important;
    }

    h2{
        font-size: 45px;
        color: white;
        padding-bottom: 30px;
    }
    .steps{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        text-align: center;
        color: white;

        .step{
            padding: 30px 10px;
            border: 1px solid;
            border-color: rgba(255, 255, 255, 0);
            transition: .3s all;
            img{
                width: 150px;
                height: 150px;
                background-color: white;
                border-radius: 50%;
            }
            h3{
                font-size: 22px;
                font-weight: 500;
            }
        }
        .step:hover{
            border-color: rgb(88, 88, 88);
            border-radius: 5px;
            background-color: #4681a5;
        }
    }
    .button{
        background-color: red;
        color: white;
        transition: .3s ease;
    }
    .button:hover{
        background-color: rgb(247, 11, 11);
    }
    @media (max-width:768px) {
        .steps{
            display: block;
        }
    }
}